# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Raw data
data/raw/

# Processed data
data/processed/

# Secrets
.env

# Logs
*.log